img[src="/steaminputglyphs/ps4_button_logo.svg"] {
    content: url("/steaminputglyphs/xbox_button_logo.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps_button_square.svg"] {
    content: url("/steaminputglyphs/shared_button_x.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps_button_triangle.svg"] {
    content: url("/steaminputglyphs/shared_button_y.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps_button_circle.svg"] {
    content: url("/steaminputglyphs/shared_button_b.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps_button_x.svg"] {
    content: url("/steaminputglyphs/shared_button_a.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps5_r1.svg"] {
    content: url("/steaminputglyphs/xbox_rb.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps5_l1.svg"] {
    content: url("/steaminputglyphs/xbox_lb.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps5_r2.svg"] {
    content: url("/steaminputglyphs/xbox_rt.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps5_l2.svg"] {
    content: url("/steaminputglyphs/xbox_lt.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps5_button_create.svg"] {
    content: url("/steaminputglyphs/xbox360_button_select.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps5_button_options.svg"] {
    content: url("/steaminputglyphs/xbox360_button_start.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps5_r2_soft.svg"] {
    content: url("/steaminputglyphs/xbox_rt_soft.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps5_l2_soft.svg"] {
    content: url("/steaminputglyphs/xbox_lt_soft.svg");
    transform: scale(0.88);
}

img[src="/steaminputglyphs/ps_dpad_up.svg"] {
    content: url("/steaminputglyphs/shared_dpad_up.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps_dpad_left.svg"] {
    content: url("/steaminputglyphs/shared_dpad_left.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps_dpad_right.svg"] {
    content: url("/steaminputglyphs/shared_dpad_right.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps_dpad_down.svg"] {
    content: url("/steaminputglyphs/shared_dpad_down.svg");
    transform: scale(0.88);
}

img[src="/steaminputglyphs/shared_r3.svg"] {
    content: url("/steaminputglyphs/shared_rstick_click.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/shared_l3.svg"] {
    content: url("/steaminputglyphs/shared_lstick_click.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/sd_l2.svg"] {
    content: url("/steaminputglyphs/xbox_lt.svg");
    transform: scale(0.88);
}

<img src="/steaminputglyphs/sd_l2.svg" class="controllerconfigurator_SectionGlyph_3AFlG">

/* not sure where this is used?

img[src="/steaminputglyphs/ps_color_outlined_button_square.svg"] {
    content: url("/steaminputglyphs/ps_outline_button_square.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps_color_outlined_button_triangle.svg"] {
    content: url("/steaminputglyphs/ps_outline_button_triangle.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps_color_outlined_button_circle.svg"] {
    content: url("/steaminputglyphs/ps_outline_button_circle.svg");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps_color_outlined_button_x.svg"] {
    content: url("/steaminputglyphs/ps_outlined_button_x.svg");
    transform: scale(0.88);
}

