img[src="/steaminputglyphs/xbox_button_logo.svg"],
img[src="/steaminputglyphs/ps4_button_logo.svg"],
img[src="/steaminputglyphs/switchpro_button_home.svg"] {
    content: url("/steaminputglyphs/sd_button_steam.svg");
    width: 61.1px;
    height: auto;
    margin: -100% 0 -100% 0;
}

img[src="/steaminputglyphs/xbox_button_start.svg"],
img[src="/steaminputglyphs/ps5_button_options.svg"],
img[src="/steaminputglyphs/switchpro_button_plus.svg"] {
    content: url("/steaminputglyphs/sd_button_menu.svg");
    transform: scale(1.125);
}